* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

main {
  width: 90%;
}

.sect-one {
  border-radius: 0px 0px 20px 20px;
  background: #ff5c61 linear-gradient(#ff5c61, #ff693e);
  display: flex;
  /* width: 350px; */
}

.con-one {
  width: 55%;
  height: 10rem;
  border-top: 8px solid #29283f;
  border-right: 8px solid #29283f;
  border-bottom: 8px solid #29283f;
  border-radius: 0px 15px 15px 0px;
  margin-block: 80px 30px;
  background: #fe586b linear-gradient(#fe586b, #ff7b4d);
}

.sect-one footer {
  width: 115%;
  height: 10rem;
  border-radius: 8px 0px 0px 8px;
  background-color: #f3f3f3;
  position: relative;
  left: 140px;
  bottom: 50%;
}

footer .con-two {
  display: flex;
  width: 100%;
  height: 15%;
  border-radius: 8px 0px 0px 0px;
  background-color: #29283f;
}

footer .con-three {
  width: 24%;
  height: 85%;
  border-radius: 0px 0px 0px 8px;
  background: #dbddea linear-gradient(#dbddea, #e8e7ed);
}

.con-four {
  border: 2px solid #dbddea;
}

.con-four p {
  border: 2px solid #bab9d6;
  margin: 10px;
}

.p-two {
  width: 50%;
}

.p-four {
  width: 40%;
}
